body {
  background-color: #900c3f;
  color: white;
  font-family: "Montserrat", sans-serif;
}

/* Main body of the app containing all components */
.main-app {
  text-align: center;
  font-size: 27px;
  margin-top: 10%;
}

/* Main title of app containing Countdown and the default date */
.app-title {
  font: 60px "Shrikhand", cursive;
  margin: 3%;
}

/* Error message that displays on input error */
.error {
  margin-bottom: 3%;
  font-size: 22px;
  color: #f1e1e7;
}

/* The components of the countdown clock: hours, days, minutes, and seconds */
.hours,
.days,
.minutes,
.seconds {
  display: inline;
  margin: 2%;
}

/* Main input form in which the user enters a date */
.deadline-input {
  font-size: 22px;
  width: 90%;
  margin: 3% auto 3% auto;
  padding: 1.2%;
  border-radius: 0;
  -webkit-box-shadow: inset 3px 3px 20px rgba(0, 0, 0, 0.3);
          box-shadow: inset 3px 3px 20px rgba(0, 0, 0, 0.3);
}

/* Submit button */
.submit {
  background-color: #0c905d;
  color: white;
  font-size: 18px;
  border-radius: 0;
  border-color: #0c905d;
}

.submit:hover,
.submit:focus {
  background-color: #096c46;
  color: white;
  outline: none;
  border-color: #096c46;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
