body {
  background-color: #900C3F;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  font-size: 27px;
  margin-top: 10%;
}

.App-title {
  font-family: 'Shrikhand', cursive;
  font-size: 60px;
  margin: 3%;
}

.error {
  margin-bottom: 3%;
  font-size: 22px;
  color: #F1E1E7;
}

.hours,
.days,
.minutes,
.seconds {
  display: inline;
  margin: 2%;
}

.deadline-input {
  font-size: 22px;
  width: 90%;
  margin: 3% auto 3% auto;
  padding: 1.2%;
  border-radius: 0;
  -webkit-box-shadow: inset 3px 3px 20px rgba(0, 0, 0, 0.3);
          box-shadow: inset 3px 3px 20px rgba(0, 0, 0, 0.3);
}

.submit {
  background-color: #0C905D;
  color: white;
  font-size: 18px;
  border-radius: 0;
  border-color: #0C905D;
}

.submit:hover,
.submit:focus {
  background-color: #096C46;
  color: white;
  outline: none;
  border-color: #096C46;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
